<div class="container">
<h6>会員情報編集</h6>

<%= form_with model: @customer, url:update_customers_path(@customer.id), method: :patch do |f| %>
   <table>
    <tr>
     <td><%= f.label :氏名 %></td>
     <td><%=f.text_field :first_name %></td>
     <td><%=f.text_field :last_name %></td>
    </tr>



    <tr>
     <td><%= f.label :フリガナ %> </td>
     <td><%=f.text_field :first_name_kana %> </td>
     <td><%=f.text_field :last_name_kana %> </td>
    </tr>


   <tr>
    <td><%= f.label :郵便番号 %></td>
    <td><%=f.text_field :postal_code %></td>
   </tr>

   <tr>
    <td><%= f.label :住所 %></td>
    <td><%=f.text_field :address %></td>
   </tr>

   <tr>
    <td><%= f.label :電話番号 %></td>
    <td><%=f.text_field :telephone_number %></td>
   </tr>

   <tr>
    <td><%= f.label :メールアドレス %></td>
    <td><%=f.text_field :email %></td>
   </tr>
  </table>



<table>
 <tr>
  <td><input class="btn btn-success" type="submit" value="編集内容を保存"></td>
  <td></td>
  <td><%= link_to "退会する", customers_quit_path ,class: "btn btn-danger" %></td>
 </tr>
</table>
 <% end %>
</div>