<div class="container">

<h6>マイページ</h6>
<h6><strong>登録情報</strong></h6>

<a class="btn btn-success" href="/customers/information/edit" role="button">編集する</a>

<table class="table table-bordered">
 <thead>
  <tr>
   <td class="table-info">氏名</td>
   <td><%= @customer.first_name %></td>
  </tr>
  <tr>
   <td class="table-info">カナ</td>
   <td><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
   <td class="table-info">郵便番号</td>
   <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
   <td class="table-info">住所</td>
   <td><%= @customer.address %></td>
  </tr>
  <tr>
   <td class="table-info">電話番号</td>
   <td><%= @customer.telephone_number %></td>
  </tr>
  <tr>
   <td class="table-info">メールアドレス</td>
   <td><%= @customer.email %></td>
  </tr>
  </thead>
</table>


</div>


<h6><strong>注文履歴</strong></h6>
<a class="btn btn-primary" href="/oder" role="button">一覧を見る</a>

</div>