<div class="container">

 <h6>マイページ</h6>
 <table>
  <tr>
   <td><h6><strong>登録情報</strong></h6></td>
   <td><a class="btn btn-success" href="/customers/information/edit" role="button">編集する</a></td>
  </tr>
 </table>

<table class="table table-bordered boder-dark">
 <thead>
  <tr>
   <td class="table-info">氏名</td>
   <td><%= @customer.first_name+" "+@customer.last_name %></td>
  </tr>
  <tr>
   <td class="table-info">カナ</td>
   <td><%= @customer.first_name_kana+" "+@customer.last_name_kana %></td>
  </tr>
  <tr>
   <td class="table-info">郵便番号</td>
   <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
   <td class="table-info">住所</td>
   <td><%= @customer.address %></td>
  </tr>
  <tr>
   <td class="table-info">電話番号</td>
   <td><%= @customer.telephone_number %></td>
  </tr>
  <tr>
   <td class="table-info">メールアドレス</td>
   <td><%= @customer.email %></td>
  </tr>
  </thead>
</table>

<table>
 <tr>
  <td><h6><strong>注文履歴</strong></h6></td>
  <td><%= link_to "一覧を見る", orders_path,class: "btn btn-primary" %></td>
 </tr>
</table>
</div>