<div class="container">
 <span class="text-dark bg-primary">管理者ログイン</span>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table>
    <tr>
     <td><%= f.label :メールアドレス %><br /></td>
     <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>


  <div class="mb-3 row">
  　<tr>
     <td><%= f.label :パスワード %><br /></td>
     <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </div>

   </table>



  <div class="actions">
   <tr>
    <td><input class="btn btn-outline-primary my-1" type="submit" value="ログイン"></td>
   </tr>
  </div>
   <% end %>


   <%= render "/admin/shared/links" %>

</div>