<div class="container">
<h5>注文履歴詳細</h5>
<table class="table table-borderless">
  <thead>
    <tr>
      <td><strong>購入者</strong></td>
      <td><%= @order.customer.first_name+" "+@order.customer.last_name %></td>
    <tr>
      <td><strong>注文日</strong></td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td><strong>配送先</strong></td>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <td><strong>支払方法</strong></td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
  </thead>
</table>
<div class="row">
  <div class="col">
<table class="table">
  <thead class="table-info">
    
    <tr>
      <th>商品名</td>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @total=0 %>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>

      <td><%= order_detail.with_tax_price %></td>

      <td><%= order_detail.amount %></td>

      <td><%= @total+=order_detail.amount*order_detail.with_tax_price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>

<div class="col align-self-end">
<table class="table table-borderless">
  <thead>
  <tr>
   <td><strong>商品合計</strong></td>
   <td><%= @total %>円</td>
  </tr>
  <tr>
   <td><strong>送料</strong></td>
   <td><%= @sipping_cost %>円</td>
  </tr>
  <tr>
   <td><strong>請求金額合計</strong></td>
   <td><%= @total+@sipping_cost %>円</td>
  <tr>
  </thead>
 </table>
 </div>
</div>
</div>