<div class="container">
<span class="text-dark bg-light"> ログイン </span><br>
<span class="text-dark bg-light">会員の方はこちらからログイン</span>
<%= form_with(model: @customer, url: session_path(resource_name)) do |f| %>
  <table>
   <div class="form-group row my-3">
     <tr>
      <td><%= f.label :メールアドレス %></td>
      <div class="col-sm-6">
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
     </tr>
   </div>

   <div class="form-group row my-3">
     <tr>
      <td><%= f.label :パスワード %></td>
     <div class="col-sm-6">
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
     </tr>
     </div>
   </div>
  </table>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>


<% end %>

<h7>会員登録がお済みでない方</h7><br>

<a href="/customers/sign_up" class="link-primary">こちら</a>
から新規登録を行ってください。

</div>
