<p class="text-dark bg-info"> ログイン </p>
<p class="text-dark bg-info">会員の方はこちらからログイン</p>
<%= form_with(model: @customer, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :メールアドレス %><br /></td>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
    </tr>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h7>会員登録がお済みでない方</h7><br>

<a href="/customers/sign_up" class="link-primary">こちら</a>
から新規登録を行ってください。
