
<!DOCTYPE html>
<html>
  <head>
   <title>Naganocake</title>
   <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
     <header>
      <nav class="navbar navbar-expand-lg navbar-right">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
             </button>
           </nav>
            </div>

           <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
             <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
            <li class="nav-item">
              <a class="btn btn-default" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/items">商品一覧</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/customer/sign_up">新規登録</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/customer/sign_in">ログイン</a>
            </li>
            </li>
            <% else %>
            <li class="nav-item">
              <a class="btn btn-default" href="/customers/mypage">マイページ</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/items">商品一覧</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/cart_items">カート</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="btn btn-default" href="/customers/sign_out">ログアウト</a>
            </li>
            </li>
            <% end %>
             </ul>

        <form class="navbar-form navbar-right" role="search">
         <div class="form-group">
          <input type="text"
          class="form-control" placeholder="search">
         </div>
         <button type="submit" class="btn btn-default">検索</button>
        </form>
       </div>
     </nav>
     </header>
     <%= yield %>

      <footer class="bg-dark text-white pt-5 pb-4">
       <div class="container">
          <div class="row">
              <div class="mx-auto">
                  <p class="footer-text">© Naganocake.co.,ltd.All rights Reserved.</p>
              </div>
          </div>
      </div>
     </footer>
  </body>
</html>
